body {
  font-family: 'Source Sans Pro', sans-serif; }

.top {
  background-image: url("./images/bg_top.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat; }
  .top h5 {
    font-size: 14px;
    color: #008ed6;
    margin-top: 100px;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .top h4 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 40px; }
  .top p {
    font-size: 18px;
    color: #999999;
    margin-bottom: 65px; }
  .top .link_top {
    font-size: 14px;
    color: #fff;
    list-style: none;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
    border: 1px solid #4d4e54;
    border-radius: 5px;
    margin-right: 20px; }
    .top .link_top:hover {
      border: 1px solid #008ed6;
      background-color: #008ed6; }
  .top .two_iphones {
    max-width: 425px;
    max-height: 525px;
    position: relative;
    bottom: -115px; }
    .top .two_iphones img {
      width: 100%;
      height: 100%;
      display: block; }

.navbar-default {
  background-image: none;
  background-color: transparent;
  border: none; }

.nav-link {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  margin-left: 23px; }

.nav-link:after {
  content: "";
  display: block;
  width: 49%;
  height: 2px;
  color: #008ed6;
  margin-top: 13px;
  z-index: 50; }

.product_overview {
  text-align: center;
  border-bottom: 1px solid #ededed; }
  .product_overview h5 {
    font-size: 14px;
    color: #008ed6;
    margin: 65px 0 30px;
    text-transform: uppercase; }
  .product_overview h4 {
    font-size: 36px;
    color: #1a1a1a;
    margin-bottom: 70px; }
  .product_overview .icon {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
    padding: 20px;
    display: inline-block;
    margin-bottom: 40px; }
  .product_overview .settings {
    padding-top: 25px; }
  .product_overview h6 {
    font-size: 24px;
    color: #1a1a1a;
    margin-bottom: 26px; }
  .product_overview p {
    font-size: 18px;
    color: #999999;
    margin-bottom: 75px; }

.dip_into .I-phones {
  max-width: 430px;
  max-height: 550px;
  margin-top: 65px;
  margin-bottom: 75px; }
  .dip_into .I-phones img {
    width: 100%;
    height: 100%; }
.dip_into .right_part h5 {
  font-size: 14px;
  color: #008ed6;
  margin-top: 120px;
  margin-bottom: 28px;
  text-transform: uppercase; }
.dip_into .right_part h4 {
  font-size: 36px;
  color: #1a1a1a;
  margin-bottom: 35px; }
.dip_into .right_part p {
  font-size: 18px;
  color: #999999;
  margin-bottom: 40px; }
.dip_into .right_part ul li {
  font-size: 18px;
  color: #1b1b1b;
  margin-bottom: 27px;
  list-style: none; }
  .dip_into .right_part ul li .bi {
    font-size: 17px;
    color: #44ace1;
    margin-right: 10px; }

.dip_into_2 {
  background-color: #f2f2f2;
  padding: 60px 0 40px 0; }
  .dip_into_2 h5 {
    font-size: 14px;
    color: #008ed6;
    margin-top: 120px;
    margin-bottom: 28px;
    text-transform: uppercase; }
  .dip_into_2 h4 {
    font-size: 36px;
    color: #1a1a1a;
    margin-bottom: 35px; }
  .dip_into_2 p {
    font-size: 18px;
    color: #999999;
    margin-bottom: 40px; }

.quality {
  text-align: center;
  background-image: url("./images/bg_hand_with_pensil.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .quality h5 {
    font-size: 14px;
    color: #008ed6;
    text-transform: uppercase;
    margin: 65px 0 30px; }
  .quality h4 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 100px; }
  .quality .owl-carousel {
    text-align: left; }
    .quality .owl-carousel p {
      font-size: 24px;
      color: #fff;
      font-family: 400;
      margin-bottom: 30px; }
    .quality .owl-carousel .avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      margin-right: 25px; }
      .quality .owl-carousel .avatar img {
        height: 100%;
        width: 100%;
        display: block; }
    .quality .owl-carousel .whose_review {
      display: inline-block; }
      .quality .owl-carousel .whose_review h5 {
        font-size: 16px;
        color: #fff;
        margin: 30px 0 15px; }
      .quality .owl-carousel .whose_review h6 {
        font-size: 14px;
        color: #fff; }

.black {
  background-color: #15141a; }
  .black .container {
    display: flex;
    align-items: center; }
  .black h4 {
    font-size: 36px;
    color: #fff;
    margin: 75px 45px 75px 0;
    display: inline-block; }
  .black span {
    font-weight: 300; }
  .black .btn_black {
    font-size: 14px;
    color: #fff;
    list-style: none;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
    border: 1px solid #4d4e54;
    background-color: transparent;
    border-radius: 5px;
    margin-right: 20px; }
    .black .btn_black:hover {
      border: 1px solid #008ed6;
      background-color: #008ed6; }

.quality_2 {
  text-align: center; }
  .quality_2 h5 {
    font-size: 14px;
    color: #008ed6;
    text-transform: uppercase;
    margin: 65px 0 30px; }
  .quality_2 h4 {
    font-size: 36px;
    color: #1a1a1a;
    margin-bottom: 100px; }
  .quality_2 .left ul {
    border: 1px solid #e0e0e0;
    margin-bottom: 0;
    padding: 0;
    text-align: center; }
    .quality_2 .left ul li {
      list-style: none;
      border-bottom: 1px solid #e0e0e0; }
      .quality_2 .left ul li:first-of-type {
        font-size: 24px;
        color: #1a1a1a;
        padding: 29px 0 24px; }
      .quality_2 .left ul li:nth-child(2) {
        font-size: 48px;
        color: #1a1a1a;
        padding: 45px 0 38px; }
        .quality_2 .left ul li:nth-child(2) span {
          font-size: 18px;
          color: #999999; }
      .quality_2 .left ul li:last-of-type {
        font-size: 18px;
        color: #999999;
        padding: 55px 35px 28px; }
        .quality_2 .left ul li:last-of-type span {
          color: #008ed6; }
        .quality_2 .left ul li:last-of-type button {
          padding: 20px 40px;
          margin-top: 47px;
          text-transform: uppercase;
          color: #008ed6;
          background-color: transparent;
          border: 1px solid #e0e0e0;
          border-radius: 5px; }

/*# sourceMappingURL=style.css.map */
